# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Data files
data/raw/
data/processed/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Ignore all .csv and .parquet files by default
*.csv
*.parquet

# Allow final, presentation ready datasets
!data/final
!data/final/*.csv